.grid-container{

    display: grid;
    grid-template-columns: auto auto;
    background-color: #2b2b2b;
    margin: 10px;
  justify-items: center;
  row-gap: 10px;
  border-radius: 5%;

}

.container{

  display: flex;
  flex-direction: row;

}

.item-1{

  flex-grow: 1;
  flex-basis: 500px;
  border-radius: 15px;
  background-color: #2b2b2b;
  align-self: center;
}

.item-2{

  flex-grow: 1;
  flex-basis: 500px;
  border-radius: 15px;
  background-color: #2b2b2b;
  

}

