.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


table{
  border-spacing:50px;
}


ion-col.my-thin-col {
  flex: 0 0 10px;
  padding:0;
}

ion-button{

  --background: #606260;
  --color: white;

}