*{

  margin: 0;
  padding: 0;
}

.content{
  width: 100%;
  height: 100vh;
}

.picture{

  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
  padding: 0px 0px;
}

.profile{

  margin: 0;
  padding: 0;
  border-radius: 30px;
}

.profile-name{

  margin: 2vh 0px;
}
.buttons{

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.buttons button{

  width: 22vh;
  height: 28px;
  border-radius: 8px ;
  background-color: black;
  color: grey
}

.buttons button:active{
  color:white
}


.stats-sheet{

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 45px 0px;
}

.stats-align{

  font-size: 13px;
  text-align: center;
  flex-grow: 1;
}

.stats{

  font-size: 18px;
  color: white;
  padding: 5px;
}


.stats-name{

  font-size: 12px;
}

ion-icon{

  height: 20px;
  width: 20px;
}

.plugs-content{
  position: relative;
  width: 100%;
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plugs-list{
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 15px;
}

label{

  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.plug-button{

  background-color: transparent;
  border-radius: 8px;
  border: 2px solid white;
  height: 30px;
  width: 95px;
  transition: 0.2s all ease;
  

}


.plug-button:active{

  transform: scale(1.05);
   
}

ul{
  position: relative;
  padding: 10px 10px;
  box-sizing: border-box;
  width: 100%;
}

ul li{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: transparent;
  margin: 10px 0px;
  border-radius: 8px;
  border: 2px solid #8a8888;
  transition: 0.5s all ease;
}



