<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="content">
    <div class="picture">
      <div>
        <img class="profile" src="{{actUser?.picture}}">
      </div>
      <div class="profile-name">
        <h1>Testname</h1>
      </div>
      </div>
      <div class="buttons">
        <button class="button"  (click)="presentActionSheet()">Followed</button>
        <button class="button">Compare</button>
      </div>
      <div class="stats-sheet">
        <div class="stats-align">
          <ion-icon name="trophy-outline"></ion-icon>
          <p class="stats-name">LOCAL RANK</p>
          <p class="stats">#50</p>
        </div>
        <div class="stats-align">
          <ion-icon name="power-outline"></ion-icon>
          <p class="stats-name">AVG. ENERGY</p>
          <p class="stats">500 kWh</p>
        </div>
        <div class="stats-align">
          <ion-icon name="trending-up-outline"></ion-icon>
          <p class="stats-name">TOTAL ENERGY</p>
          <p class="stats">1000 kWh</p>        
       </div>
      </div>
      <div class="plugs-content">
        <div class="plugs-list">
          <div class="label-header">
            <label>List of devices</label>
          </div>
          <ul>
            <li>
              <span>Washing mashine</span>
              <button class="plug-button">View</button>
            </li>
            <li>
              <span>Dryer</span>
              <button class="plug-button">View</button>
            </li>
            <li>
              <span>Television</span>
              <button class="plug-button">View</button>
            </li>
            <li>
              <span>Fridge</span>
              <button class="plug-button">View</button>
            </li>
            <li>
              <span>PC</span>
              <button class="plug-button">View</button>
            </li>
          </ul>
        </div>
      </div>
  </div>
   
</ion-content>

