<ion-content [fullscreen]="true">
  <div class="bubble">
    <h1 class="foreground"><b>COMPARISON</b></h1>
  </div>
  <div class="content-outer">
    <div class="header">
      <h6><b>Compare Watt Power and</b></h6>
      <h6><b>Temperature of 2 Plugs</b></h6>
    </div>
    <div class="content-inner">
      <div class="plug-select">
        <label><b>Plug 1</b></label>
        <ion-item>
          <ion-select label="Default label" placeholder="Select first plug" [(ngModel)]="firstPlugId"
            (ionChange)="handleChange($event)">
            <ng-container *ngFor="let plug of plugs">
              <ng-container *ngIf="secondPlugId != plug.id">
                <ion-select-option [value]="plug.id">{{plug.name}}</ion-select-option>
              </ng-container>
            </ng-container>
          </ion-select>
        </ion-item>
      </div>

      <div class="plug-select">
        <label><b>Plug 2</b></label>
        <ion-item>
          <ion-select label="Default label" placeholder="Select second plug" [(ngModel)]="secondPlugId"
            (ionChange)="handleChange($event)">
            <ng-container *ngFor="let plug of plugs">
              <ng-container *ngIf="firstPlugId != plug.id">
                <ion-select-option [value]="plug.id">{{plug.name}}</ion-select-option>
              </ng-container>
            </ng-container>
          </ion-select>
        </ion-item>
      </div>

      <ion-button id="open-modal" expand="block">Select date range</ion-button>

      <ion-modal #modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Select date range</ion-title>
              <ion-buttons slot="end">
                <ion-button class="cancel-button" (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>

            <div class="outer-modal">
              <ion-calendar [(ngModel)]="dateRange"
            [options]="optionsRange"
            [type]="type"
            [format]="'YYYY-MM-DD'" class="calendar-style"
              ></ion-calendar>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>

    <button class="compare-btn" [disabled]="disableButton"
      [routerLink]="['compare-data', firstPlugId, secondPlugId]">COMPARE</button>

  </div>
</ion-content>