<ion-content>
  
  <div class="bubble">
    <h1 class="foreground"><b>COMPARISON</b></h1>
  </div>

  <div class="content-outer">
    <div class="header">
      <h6><b>Compare Watt Power and</b></h6>
      <h6><b>Temperature of 2 Plugs</b></h6>
    </div>
    <div class="content-inner">
      <div class="plug-select">
        <label><b>Plug 1</b></label>
      <ion-item>
        <ion-select label="Default label" placeholder="Select first plug">
          <ng-container *ngFor="let plug of plugs">
            <ion-select-option>{{plug.name}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      </div>

      <div class="plug-select">
        <label><b>Plug 2</b></label>
      <ion-item>
        <ion-select label="Default label" placeholder="Select second plug">
          <ng-container *ngFor="let plug of plugs">
            <ion-select-option>{{plug.name}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      </div>
    </div>

    <button class="compare-btn" >COMPARE</button>
    
  </div>

</ion-content>