<ion-content>
  <div class="bubble">
    <h1 class="foreground"><b>PLUGS</b></h1>
  </div>

  <div class="grid-container">
    <div class="grid-item" *ngFor="let plug of plugs">
      <button class="circle-button" [routerLink]="['details', plug.id]" routerLinkActive="router-link-active">
      </button>
      <section class="section-style">{{plug.name}}</section>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <label class="text-height">totalPower:</label>
      <section>
        <h6><b>{{totalPower}}</b></h6>
      </section>
    </div>
    <div class="grid-item">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
      
      <p>Selected range: {{range.value | json}}</p>
      
      <label class="text-height">totalPowerBetween:</label>
      <section>
        <h6><b>{{totalPowerBetween}}</b></h6>
      </section>
    </div>
  </div>
</ion-content>