.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2b2b2b;
  margin: 10px;
  justify-items: center;
  row-gap: 10px;
  border-radius: 5%;
  margin-top: 20px;
}
.circle-button {
  width: 30vw;
  height: 30vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  background: url("../../assets/icon/energy.svg");
  background-size: contain;
}
.grid-item{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.placeholder {
  background-color: white;

}

.text-height{

  line-height: 12vw;
}
