<ion-content>
  <div class="bubble">
    <h1 class="foreground"><b>PLUGS</b></h1>
  </div>

  <div class="checkbox-container">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label><b>private</b></label>
  </div>

  <div class="grid-container">
    <div class="grid-item" *ngFor="let plug of plugs">
      <button class="circle-button" [routerLink]="['details', plug.id]" routerLinkActive="router-link-active">
      </button>
      <section class="section-style">{{plug.name}}</section>
    </div>
  </div>
</ion-content>
