<ion-content>
  <div class="bubble">
    <h1 class="foreground"><b>PLUGS</b></h1>
  </div>

  <div class="grid-container">
    <div class="grid-item" *ngFor="let plug of plugs">
      <button class="circle-button" [routerLink]="['details', plug.id]" routerLinkActive="router-link-active">
      </button>
      <section class="section-style">{{plug.name}}</section>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <label class="text-height">totalPower:</label>
      <section>
        <h6><b>{{totalPower}}</b></h6>
      </section>
    </div>
    <div class="grid-item">
      <label class="text-height">totalPowerBetween:</label>
      <section>
        <h6><b>{{totalPowerBetween}}</b></h6>
      </section>
    </div>
  </div>
</ion-content>