.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  margin: 10px;
  justify-items: center;
  row-gap: 10px;
  border-radius: 50px;
  margin-top: 3vh;
}
.circle-button {
  width: 30vw;
  height: 30vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  background: url("../../assets/icon/shellyLogo.png");
  background-size: contain;
}
.grid-item{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox-container{
  
}

p{
  color: #8a8888;
  font-weight: bold;
  letter-spacing: 0.4vw;
}

.section-style{
  color: #A6A6A6;
  font-weight: bold;
}