<div id="chart" class="chart-style">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [grid]="chartOptions.grid"
    [tooltip]="chartOptions.tooltip"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
  ></apx-chart>
</div>

<div class="arrow-button-container">
  <div class="arrow-button-left" (click)="newInit(-1)" [ngStyle]="{'display': currentIdx == 0 ? 'none' : 'block'}">
    <button class="arrow-button left-point"></button>
  </div>
  <div class="arrow-button-right" (click)="newInit(1)" [ngStyle]="{'display': currentIdx == (arraySize-1) ? 'none' : 'block'}">
    <button class="arrow-button right-point"></button>
  </div>
</div>