<ion-content>

  <h5 class="text-margin"><b>OUTLET INFO</b></h5>

  

  <div class="select-graph">
    <div class="grap-type">
      <button class="btn-bg" (click)="changeGraph(false)"><h6 class="text-margin"><b [ngClass]="{'greyed-out': hidden}">TEMPERATURE</b></h6></button>
    </div>

    <div class="grap-type">
      <button class="btn-bg" (click)="changeGraph(true)"><h6 class="text-margin"><b [ngClass]="{'greyed-out': !hidden}">WATT POWER</b></h6></button>
    </div>
  </div>

  <ng-container *ngIf=hidden>
    <div class="chart-container">
      <app-apex-line-chart [_height]="'auto'" [data] = dataWatt [firstColor]="'#6CD3EB'"></app-apex-line-chart>
    </div>
  </ng-container>

  <ng-container *ngIf= !hidden>
    <div class="chart-container">
      <app-apex-line-chart [_height]="'auto'" [data] = dataTemp [firstColor]= "'#FF5F1F'"></app-apex-line-chart>
    </div>
  </ng-container>

  <div class="sector">
    <label class="text-height"><b>name:</b></label> 
    <h6><b>{{plug.name}}</b></h6>
  </div>

  <div class="sector">

    <label class="text-height"><b>power:</b></label> 

    <ng-container *ngIf= plug.powerOn>
      <div class="graph-select">
        <span class="dot-green"></span>
        <h6><b>On</b></h6>
      </div>
    </ng-container>

    <ng-container *ngIf= !plug.powerOn> 
      <div class="graph-select">
        <span class="dot-green"></span>
        <h6><b>ON</b></h6>
      </div>
    </ng-container>
  </div>

  <div class="sector">
    <label class="text-height"><b>totalPower:</b></label> 
    <h6><b>{{totalWatt}} W</b></h6>
  </div>

  <div class="sector">
    <label class="text-height"><b>avg temp:</b></label> 
    <h6><b>{{avgTemp}} °C</b></h6>
  </div>

</ion-content>