.chart-container{
    margin-left:  -14px;
}

.btn-bg{
    background-color: transparent;
    width: fit-content;
}

.greyed-out {
    color: #757373;
    font-size: 80%;
}

.sector{
    margin: auto;
    width: 80%;
    border-bottom: 0.2vw solid #575555;
    padding-bottom: 3vw;
    padding-right: 10vw;
    padding-left: 1vw;
}

.text-margin{
    margin-left: 10vw;
    margin-top: 15vw;
    
}

.text-height{
    line-height: 12vw;
}

.dot-red {
    float: left;
    margin-right: 2vw;
    
    display: flex;
    height: 10px;
    width: 10px;
    background-color: #ab261d;
    border-radius: 50%;
    display: inline-block;
}

.title-margin{

    margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.dot-green {
    float: left;
    margin-right: 2vw;
    
    display: flex;
    height: 10px;
    width: 10px;
    background-color: #32730d;
    border-radius: 50%;
    display: inline-block;
}

p{
    color: #8a8888;
    font-weight: bold;
    letter-spacing: 0.4vw;
}

.select{
    height: 10px;
    width:200px;
    margin-left: 50vw;
}

.arrow-button-container{
    display: grid;
    columns: 3;
    margin-top: -2vh;
    width: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.arrow-button{
    content: "";
    width: 0;  
    height: 0;  
    background-color: transparent;
}

.left-point{
    border-top: 7px solid transparent;
    border-right: 17.5px solid #272B34;
    border-bottom: 7px solid transparent;
}

.right-point{
    border-top: 7px solid transparent;
    border-left: 17.5px solid #272B34;
    border-bottom: 7px solid transparent;
}

.arrow-button-left{
    grid-column: 1;
    width: fit-content;
}

.from-to-container{
    grid-column: 2;
    width: fit-content;
    margin-top: 0.25vh;
}

.arrow-button-right{
    grid-column: 3;
    width: fit-content;
}