
<ion-list *ngFor="let item of filteredRequests">
  <ion-item>
    <img src="{{item.picture}}" style="width: 10vw; height: 10vw; border-radius: 10px; ">&nbsp;
    <ion-text style="margin-right: 150px;">{{item.username}}</ion-text>
    <ion-button  color="success" (click)="Accepted(item.userId)"><ion-icon slot="icon-only" name="checkmark-outline"></ion-icon></ion-button>
    <ion-button color="danger" (click)="Declined(item.userId)"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
  </ion-item>  
</ion-list>

