/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~bootstrap/dist/css/bootstrap.css";

@font-face{
    font-family: 'Arial Rounded MT Std';
    src: url(/assets/fonts/ArialRoundedMTStd.ttf) format('truetype');
}

* {
    font-family: 'Arial Rounded MT Std';
}

h6 {
    color: #BBBBBB;
    line-height: 2vh;
    letter-spacing: 0.5vw;
}

h5 {
    color: #BBBBBB;
    line-height: 2vh;
    letter-spacing: 0.5vw;
}

h4 {
    color: #BBBBBB;
    line-height: 2vh;
    letter-spacing: 0.5vw;
}

h3 {
    color: #BBBBBB;
    line-height: 2vh;
    letter-spacing: 0.5vw;
}

h1 {
    color: #BBBBBB;
    line-height: 2vh;
    letter-spacing: 0.5vw;
}

label {
    color: #8a8888;
    font-size: 12px;
    letter-spacing: 0.5vw;
}

.text-margin{
    margin-left: 10vw;
    margin-top: 7vh;
}

.text-height{
    line-height: 12vw;
}

.select-graph{
    margin: auto;
    display: flex;
}

.graph-type{
 text-align: center;   
}

.greyed-out {
    color: #757373;
    font-size: 80%;
}

.btn-bg{
    background-color: transparent;
    width: fit-content;
}

.sector{
    margin: auto;
    width: 80%;
    border-bottom: 0.2vw solid #575555;
    padding-bottom: 3vw;
    padding-right: 10vw;
    padding-left: 1vw;
}

.apexcharts-tooltip{
    background-color: #BBBBBB;
    color: #121212;
}

.bubble {
    display: flex;
    content: '';
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    width: 100%;
    background-color: #0D0D0D;
    z-index: -1;
    height: 13%;
    justify-content: center;
  }
  
  .foreground {
    z-index: 1;
    margin-top: 5vh;
  }

  .black-button {
    background-color: black;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 3vh;
    transition: 0.3s;
    width: 90%;
    height: 10vh;
    border-radius: 360px;
    cursor: pointer;
  }

  .cancel-btn{
    background-color: transparent;
    color: white;
}

button.days-btn{
    color: white
}